<div class="container">
    <div class="row g-4 mt-5 p-5">
        @for (movie of movies; track movie.id) {
        <div class="col-md-3">
            <div class="card h-100">
                <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" class="img-fluid" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">{{movie.title}} {{movie.name}}</h5>
                    <p class="card-text">
                        {{movie.overview.split(".")[0]}}
                    </p>
                </div>
            </div>
        </div>
        
    }
    </div>
</div>